{% load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SUNSHINE</title>
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
</head>
<body>
    {% include 'menu_page.html'%}
    <div class="main_content">
        {% if info %}
            <h1>{{ info }}, добро пожаловать!</h1>
        {% else %}
            <h1>Добро пожаловать!</h1>
        {% endif %}
        <p>Мы рады видеть вас здесь! Наша цель — предоставить вам лучший опыт и удовлетворить все ваши потребности. На нашем сайте вы найдете:</p>
        <ul>
            <li>🌟 **Широкий выбор услуг:** Ознакомьтесь с нашими предложениями и выберите то, что подходит именно вам.</li>
            <li>💬 **Отзывы клиентов:** Узнайте, что говорят о нас наши клиенты, и убедитесь в качестве предоставляемых услуг.</li>
            <li>🎨 **Примеры работ:** Посмотрите наши лучшие работы и вдохновитесь на новые идеи.</li>
            <li>👤 **Личный кабинет:** Войдите в свой аккаунт, чтобы управлять своими заказами и получать персонализированные предложения.</li>
            <li>🤝 **Поддержка:** Не стесняйтесь обращаться к нам, если у вас возникнут вопросы или вам потребуется помощь. Мы всегда готовы помочь!</li>
            <li>🙏 **Спасибо, что выбрали нас!** Надеемся, вам понравится ваше время на нашем сайте!</li>
            <li>Запись на услугу можно сделать в нашем тг боте: <a href="https://web.telegram.org/a/#7796429951" target="_blank">Запись</a></li>
        </ul>
</div>
</body>
</html>