{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menu_Service</title>
    <link rel="stylesheet" type="text/css" href="{% static 'service_button.css' %}">
</head>
<body>
    <a href="http://127.0.0.1:8000/service_eyelash/"><button>Ресницы и брови</button></a>
    <a href="http://127.0.0.1:8000/service_manicure/"><button>Маникюр и педикюр</button></a>
    <a href="http://127.0.0.1:8000/service_cleaning/"><button>Чистка лица</button></a>
    <a href="http://127.0.0.1:8000/service_makeup/"><button>Макияж</button></a>
</body>
</html>