{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Услуги</title>
    <link rel="stylesheet" type="text/css" href="{% static 'services.css' %}">
</head>
<body>
<section id="services" class="py-5">
    {% include 'menu_page.html' %}
    <main class="main">
        <div class="main-title">Услуги мастера косметологии по чистке лица</div>
        <div class="card-body">
            <div class="card-title">Механическая чистка</div>
            <div class="card-country">от 2000₽</div>
            <div class="card-time">40 - 90 мин</div>
        </div>
        <br/>
    <div>
        <div class="card-body">
            <div class="card-title">Ультразвуковая чистка лица</div>
            <div class="card-country">от 4000 ₽</div>
            <div class="card-time">20 - 50 мин</div>
        </div>
        <br/>
        <div class="card-body">
                <div class="card-title">Вакуумная чистка лица</div>
                <div class="card-country">от 3000₽</div>
                <div class="card-time">35 - 50 мин</div>
        </div>
        <br/>
        <div class="card-body">
                <div class="card-title">Лазерная чистка лица</div>
                <div class="card-country">от 3500₽</div>
                <div class="card-time">30 - 40 мин</div>
        </div
        <br/>
            <p align="center">{% include 'menu_service.html' %}</p>
    </div>
</body>
</html>