.sidebar {
  height: 100vh; /* Высота боковой панели на весь экран */
  width: 100px; /* Ширина боковой панели */
  background-color: #666666; /* Темный фон */
  color: rgb(255, 255, 255); /* Белый текст */
  position: fixed; /* Фиксированное положение */
  top: 0; /* Прикрепить к верхней части */
  left: 0; /* Прикрепить к левой части */
  padding: 20px; /* Отступы внутри боковой панели */
}

.sidebar p {
  font-size: 24px; /* Размер шрифта для названия компании */
  margin: 0 0 20px; /* Отступы для названия */
}

.sidebar a {
  display: block; /* Делаем ссылки блочными для удобства */
  color: white; /* Цвет текста ссылок */
  text-decoration: none; /* Убираем подчеркивание */
  padding: 10px; /* Паддинг для кликабельной области */
  margin: 10px 0; /* Отступы между ссылками */
  transition: color 0.3s; /* Плавный переход для цвета текста */
}

/* Убираем цвет фона при наведении */
.sidebar a:hover {
  color: #f8f9fa; /* Светлый цвет текста при наведении */
  background-color: transparent; /* Убираем цвет фона при наведении */
}

.main_content {
  max-width: 800px; /* Максимальная ширина контента */
  margin: 40px auto; /* Центрирование контента */
  padding: 20px; /* Отступы внутри блока */
  border-radius: 8px; /* Скругленные углы */
}

h1 {
  font-size: 2.5em; /* Размер заголовка */
  margin-bottom: 20px; /* Отступ снизу */
  color: #525252; /* Цвет заголовка */
}

p {
  font-size: 1.2em; /* Размер текста */
  margin-bottom: 15px; /* Отступ снизу */
}

ul {
  list-style-type: none; /* Убираем маркеры списка */
  padding: 0; /* Убираем отступы */
}

li {
  margin: 10px 0; /* Отступы между элементами списка */
  padding: 15px; /* Отступы внутри элемента списка */
  border-radius: 5px; /* Скругленные углы для элементов списка */
}

li:hover {
  background: #3a3a3a; /* Цвет фона при наведении */
}